// Colors

$silver:            #c3c3c3;
$blue:              #219aea;
$lime:              #acc901;
$yellow:            #ffcc00;
$pink:              #f05e9b;
$hotpink:           #f06;
$gold:              #fbb829;
$light-blue:        #add8c7;
$teal:              #1693a5;
$red:               #f00;
$grey:              #333;
$black:             #000;
$white:             #fff;
$dark:              #121315;
$light:             #efefef;
$purple:            #800f25;
$orange:            #f90;
$grape:             #f02311;
$lemon:             #cf0;
$metal:             #666;
$mint:              #77cca4;
$ivory:             #d8d8c0;

// Defaults

$primary-color: $grey;

// Typography

$font-stack: Helvetica, sans-serif;