@import 'reset';
@import 'variables';

body {
  background: $light;
  color: $primary-color;
  font: 100% $font-stack;

  em {
    color: $lime;
  }

  a {
    color: $teal;
  }

  .right {
    display: block;
    float: right;
    width: 60%;
  }

  .padding-20 {
    padding: 20px;
  }
}